<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airfoil Prediction</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Airfoil Prediction</h1>
        <form action="{{ url_for('predict')}}" method="post">
            <div class="form-group">
                <label>Frequency</label>
                <input type="number" name="Frequency" placeholder="Frequency" required />
            </div>
            <div class="form-group">
                <label>Angle of attack</label>
                <input type="number" name="Angle_of_attack" placeholder="Angle of attack" required />
            </div>
            <div class="form-group">
                <label>Chord length</label>
                <input type="number" name="Chord_length" placeholder="Chord length" required />
            </div>
            <div class="form-group">
                <label>Free-stream velocity</label>
                <input type="number" name="Free-stream_velocity" placeholder="Free-stream velocity" required />
            </div>
            <div class="form-group">
                <label>Suction side</label>
                <input type="number" name="Suction_side" placeholder="Suction side" required />
            </div>
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>
        <div class="prediction">{{ prediction_text }}</div>
    </div>
</body>
</html>
